/* Import Google Fonts
-------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Box sizing rules 
-------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding 
----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

/* Default Font size 10px 
------------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set body defaults 
------------------------------*/
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  color: #6a6f81;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: grid;
  place-content: center;
  background-color: #19a2ae;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: top -50rem left -20rem, bottom -60rem right -15rem;
  background-repeat: no-repeat, no-repeat;
  background-size: 75rem, 75rem;
}

/* Make images easier to work with 
------------------------------*/
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Remove list styles  
------------------------------*/
ul,
ol {
  list-style: none;
}

/* Hyperlink styles removed
------------------------------*/
a {
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons 
------------------------------*/
input,
button,
textarea,
select {
  font: inherit;
}

.heading {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  color: #2d3248;
}
.heading span {
  color: #969696;
  font-size: 2rem;
  font-weight: 400;
}
.heading--primary {
  font-size: 2.4rem;
}
.heading--secondary {
  font-size: 2rem;
}

.paragraph--social {
  font-size: 1.4rem;
}

.profile {
  display: grid;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2.4rem;
  max-width: 30rem;
}
.profile__header {
  position: relative;
}
.profile__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50%;
  border: 5px solid white;
}
.profile__body {
  display: grid;
  justify-items: center;
  grid-gap: 1.8rem;
  background-color: white;
}
.profile__name {
  display: grid;
  align-items: center;
  grid-gap: 1.2rem;
  margin-top: 4.8rem;
}
.profile__divider {
  background-color: #969696;
  height: 1px;
  width: 100%;
}
.profile__social {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2.4rem;
  padding: 2.4rem;
}
